body {
  margin: 0;
}

.flex-box {
  display: flex;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
}

.img-container {
  margin: 3vh auto;
  text-align: center;
}

img {
  height: 94vh;
}

img.show {
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn { 
  0% {opacity: 0}
  100% {opacity: 1}
}

#caption-container {
  width: 30vw;
  height: 100vh;
  opacity: 0;
  text-align: left;
  padding: 0px;
  animation: appeare 3s ease 3s 1 normal forwards running;
}

@keyframes appeare { 
  0% {opacity: 0}
  100% {opacity: 1}
}

.title {
  margin: 80vh 8px 8px 8px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2.4px;
  color: #555555;
}

.artist {
  margin: 16px 0 4px 8px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.83px;
  color: #666666;
}

.materials {
  margin: 0 0 4px 8px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.83px;
  color: #666666;
}

.size {
  margin: 8px;
  margin-top: 0px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.83px;
  color: #666666;
}

#link {
  text-decoration: none;
}

.to-artist-page {
  margin: 8px;
  margin-top: 32px;
  font-size: 12px;
  letter-spacing: 1.83px;
  color: #a1a1a1;
}