body {
  margin: 0;
  background-image: url(../images/white_wall.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: monospace;
}

.flex-box {
  display: flex;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
}

.img-container {
  margin: 3vh auto;
  text-align: center;
}

img {
  display: none;
  max-height: 94vh;
  max-width: 70vw;
  vertical-align: middle;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

img.show {
  display: block;
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn { 
  0% {opacity: 0}
  100% {opacity: 1}
}

#caption-container {
  width: 24vw;
  height: 100vh;
  margin-left: 16px;
  opacity: 0;
  text-align: left;
  padding: 0px;
  animation: appeare 3s ease 3s 1 normal forwards running;
}

@keyframes appeare { 
  0% {opacity: 0}
  100% {opacity: 1}
}

.title {
  margin: 80vh 8px 8px 8px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2.4px;
  color: #555555;
}

.artist {
  margin: 16px 0 4px 8px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.83px;
  color: #666666;
}

.materials {
  margin: 0 0 4px 8px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.83px;
  color: #666666;
}

.size {
  margin: 0 8px 8px 8px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.83px;
  color: #666666;
}

#link {
  text-decoration: none;
}

.to-artist-page {
  position: absolute;
  bottom: 8px;
  right: 24px;
  font-size: 12px;
  letter-spacing: 1.83px;
  color: #a1a1a1;
}
