body {
  margin: 0;
}

.flex-box {
  display: flex;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
}

.img-container {
  margin: 3vh auto;
  text-align: center;
}

img {
  height: 94vh;
}

img.show {
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn { 
  0% {opacity: 0}
  100% {opacity: 1}
}

#caption-container {
  width: 30vw;
  height: 100vh;
  opacity: 0;
  text-align: left;
  padding: 0px;
}

.img-container:hover + #caption-container {
  transition-duration: 1s;
  opacity: 0.9;
}

#caption-container:hover {
  transition-duration: 1s;
  opacity: 0.9;
}

.title {
  margin: 80vh 8px 8px 8px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2.4px;
  color: #444444;
}

.artist {
  margin: 8px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.83px;
  color: #a1a1a1;
}

.materials {
  margin: 8px;
  margin-bottom: 4px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.83px;
  color: #a1a1a1;
}

.size {
  margin: 8px;
  margin-top: 0px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.83px;
  color: #a1a1a1;
}
