body {
  margin: 0;
}

.img-wrapper {
  height: 96vh;
  margin: 2vh auto;
  text-align: center;
}

img {
  height: 100%;
  display: inline-block;
}

img.show {
  animation: fadeIn 5s ease 0s 1 normal;
  -webkit-animation: fadeIn 5s ease 0s 1 normal;
}

@keyframes fadeIn { 
  0% {opacity: 0}
  100% {opacity: 1}
}

#caption {
  opacity: 0;
  position: absolute;
  height: 80px;
  bottom: 2vh;
  left: 50%;
  -ms-transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  background-image: linear-gradient(to bottom, rgba(98, 98, 98, 0.65) 13%, #363636, #333333);
  color: white;
}

img:hover + #caption {
  transition-duration:2s;
  opacity: 0.7;
}

#caption:hover {
  transition-duration:2s;
  opacity: 0.7;
}

.title {
  margin:18px 0 4px 24px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2.4px;
  text-align: left;
}

.artist {
  margin: 0 0 0 24px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.83px;
  text-align: left;
}

.service {
  margin: 0 8px 0 0;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.67px;
  color: #cacaca;
  text-align: right;
}
